<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>
    {% if page.title %} {{ page.title }} {% else %} {{ site.title }} {% endif %}
  </title>
  <script src="https://use.typekit.net/qze0vsn.js"></script>
  <script>
    try { Typekit.load({ async: true }); } catch (e) { }
  </script>

  <link href="assets/css/default.css" rel="stylesheet">
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width">
    <script src="assets/scripts/scroll.min.js" ></script>
</head>

<body>