<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <div class="gel-wrap">
      <div class="gel-layout page-header video-page">
        {% include nav.html %}
        <div class="gel-layout__item gel-2/5@l gel-1/3@m">
          <div class="homepage-item__media">
              <img class="media-image" src="{{site.baseurl}}/{{page.promo-image}}"/>
              <p class="label">{{page.label}}</p>
          </div>
        </div>
        <div class="gel-layout__item gel-2/5@l gel-1/3@m">
          <h1 class="title">{{page.title}}</h1>
          <p>{{content}}</p>
          </div>
      </div>
    </div>
  </body>

</html>